h4{
        text-align: center;
      }
      .carousel-item img{
        height: 750px;
        width: 100px;
        object-fit: contain;

      }
      h2{
        text-align: center;
        background-color: grey;
      }
      .card-body {
        text-align: center;
      }
       h3{
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }
      h2{
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }
      h3{
        text-align: center;
      }
      .ratio{
        text-align: center;
        width: 200px;
        height: 300px;
      }
       .card img {
        border-radius: 10px;
        text-align: center;
      }
      .card {
        border-radius: 10px;
        text-align: center;
      }
      h2{
        text-align: center;
      }
       .card{
        text-align: center;
      }
      h2{
        text-align: center;
      }